{% extends 'base.html.j2' %}
{% block title %}
  Welcome to Pokebook, search your pokemon!
{% endblock %}

{% block content %}
  <h1>Welcome to Pokebook, search your pokemon!</h1>
{% endblock %}